<!DOCTYPE html>
<html lang="en" class="no-js">
  <%- include("./partials/_header.ejs") %>
  <body class="is-boxed has-animations">
    <div class="body-wrap">
      <header class="site-header">
        <div class="container">
          <div class="site-header-inner">
            <div class="brand header-brand">
              <h1 class="m-0">
                <a href="/">
                  <img
                    class="header-logo-image"
                    src="/images/logo.svg"
                    alt="Logo"
                  />
                </a>
              </h1>
            </div>
          </div>
        </div>
      </header>

      <main>
        <section class="hero">
          <div class="container">
            <div class="hero-inner">
              <div class="hero-copy">
                <h1 class="hero-title mt-0">
                  Welcome to Dashboard <%= name %>
                </h1>
                <p class="hero-paragraph">
                  You can see all the users who registered on this website
                </p>
                <div class="hero-cta">
                  <a
                    type="button"
                    class="button button-primary"
                    href="/user/logout"
                  >
                    Logout</a
                  >
                </div>
              </div>
              <div class="row container">
                <table class="table text-light">
                  <thead class="">
                    <th scope="col" style="color:#1388F6">Name</th>
                    <th scope="col" style="color:#1388F6">Email</th>
                  </thead>
        
                  <tbody class="text-center">
                    <% for(let i = 0; i< users.length; i++) { %>
                    <tr>
                      <th ><%= users[i].name %>  <%= users[i].lastname %></th>
                      <td><%= users[i].email %></td>
                      
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              <!-- end row -->
            </div>
               <%-
        include("./partials/_getInTouch.ejs") %>
      </main>

      <%-include("./partials/_footer.ejs")%>
    </div>

    <script src="/js/main.min.js"></script>
  </body>
</html>
